<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile" xsi:type="AsyncWrapper" queueLimit="50000" overflowAction="Grow" batchSize="333" timeToSleepBetweenBatches="50">
      <target xsi:type="File"
              encoding="utf-8"
              layout="${date:format=HH.mm.ss.ffff}|${pad:padding=-5:inner=${level}}|${pad:padding=-3:inner=${threadid}}|${pad:padding=30:inner=${logger:shortName=true}} | ${message}"
              fileName="nlogs/nlog_${cached:inner=${date:format=ddMMyy_HHmmss}}.txt"
              concurrentWrites="false"/>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile"/>
  </rules>
</nlog>
